[submodule "vendor/PlatformDetection"]
	path = vendor/PlatformDetection
	url = https://github.com/onthegrid007/PlatformDetection
[submodule "vendor/STDExtras"]
	path = vendor/STDExtras
	url = https://github.com/onthegrid007/STDExtras
[submodule "vendor/FileUtilities"]
	path = vendor/FileUtilities
	url = https://github.com/onthegrid007/FileUtilities
[submodule "vendor/libelf"]
	path = vendor/libelf
	url = https://github.com/0intro/libelf.git
[submodule "vendor/libelfmaster"]
	path = vendor/libelfmaster
	url = https://github.com/elfmaster/libelfmaster.git
